article, aside, details, figcaption, figure, footer, header,
hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

body {
  margin: 0px;
  top: 0px;
  padding: 0px;
  width: 100%;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  line-height: 1.3rem; }

#mnu {
  display: none; }

img {
  border: 0px;
  width: 85%;
  height: auto;
  display: inline-block;
  padding: 0px; }

.cover {
  position: absolute;
  top: 0px;
  width: 100%; }

.clear {
  clear: both; }

.left {
  text-align: left; }

.center {
  text-align: center; }

.right {
  text-align: right; }

.justify {
  text-align: justify; }

.cblock {
  margin-left: auto;
  margin-right: auto;
  display: block; }

.pright {
  float: right;
  display: block; }

.pleft {
  flaot: left;
  display: block; }

#mnu {
  display: none; }
  #mnu div {
    display: none; }

@media screen and (max-width: 768px) {
  #mnu {
    float: right;
    width: 45px;
    height: 45px;
    display: block;
    cursor: pointer; }
    #mnu div {
      width: 20px;
      height: 4.8px;
      background: #fff;
      margin: 3px 0px;
      display: block; }
  .content {
    width: 90%;
    margin-left: 15px;
    margin-right: 15px; } }

body {
  background: #000;
  color: #fff; }

hr {
  border-top: 7px solid #05305B; }

#logo {
  width: 75px;
  height: 75px;
  background: url("images/am3.png");
  background-size: 100% 100%;
  display: inline-block;
  display: block;
  float: left; }

#facebook {
  width: 80px;
  height: 80px;
  background: url("images/facebook.png");
  background-size: 100% 100%;
  display: inline-block;
  display: block;
  float: left;
  margin-left: 20px; }

#twitter {
  width: 80px;
  height: 80px;
  background: url("images/twitter.png");
  background-size: 100% 100%;
  display: inline-block;
  display: block;
  float: left;
  margin-left: 20px; }

#linkedin {
  width: 80px;
  height: 80px;
  background: url("images/linkedin.png");
  background-size: 100% 100%;
  display: inline-block;
  display: block;
  float: left;
  margin-left: 20px; }

.footer {
  height: 3s30px;
  width: 100%;
  display: block; }

a:link, a:visited {
  color: #fff;
  font-size: 1.7rem;
  text-decoration: none; }

a:hover, a:active {
  color: #fff;
  font-size: 1.7rem;
  text-decoration: underline; }

.container {
  width: 75%;
  line-height: 150%;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  display: block; }
  .container .row {
    padding-left: -15px;
    padding-right: -15px; }
  .container p {
    padding: 5.3px;
    line-height: 1.3rem; }
  .container h2, .container h3, .container h4, .container h5, .container h6 {
    padding: 5.7px;
    line-height: 1.5rem; }
  .container .endc {
    padidng-right: 0px; }
  .container .main {
    width: 66%;
    display: block;
    margin-right: 2%;
    float: left; }
  .container .side {
    width: 30%;
    display: block;
    float: right; }
  .container .c1 {
    width: 100%;
    float: left;
    padding: 7px;
    box-sizing: border-box;
    margin-bottom: 2%; }
  .container .c2 {
    width: 50%;
    float: left;
    padding: 7px;
    box-sizing: border-box;
    margin-bottom: 2%; }
  .container .c3 {
    width: 33.33333%;
    float: left;
    padding: 7px;
    box-sizing: border-box;
    margin-bottom: 2%; }
  .container .c4 {
    width: 25%;
    float: left;
    padding: 7px;
    box-sizing: border-box;
    margin-bottom: 2%; }
  .container .c5 {
    width: 20%;
    float: left;
    padding: 7px;
    box-sizing: border-box;
    margin-bottom: 2%; }
  .container .c6 {
    width: 16.66667%;
    float: left;
    padding: 7px;
    box-sizing: border-box;
    margin-bottom: 2%; }
  .container .c7 {
    width: 14.28571%;
    float: left;
    padding: 7px;
    box-sizing: border-box;
    margin-bottom: 2%; }
  .container .c8 {
    width: 12.5%;
    float: left;
    padding: 7px;
    box-sizing: border-box;
    margin-bottom: 2%; }
  .container .c9 {
    width: 11.11111%;
    float: left;
    padding: 7px;
    box-sizing: border-box;
    margin-bottom: 2%; }
  .container .c10 {
    width: 10%;
    float: left;
    padding: 7px;
    box-sizing: border-box;
    margin-bottom: 2%; }
  .container .c11 {
    width: 9.09091%;
    float: left;
    padding: 7px;
    box-sizing: border-box;
    margin-bottom: 2%; }
  @media screen and (max-width: 768px) {
    .container .main, .container .side {
      width: 85%;
      display: block;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 2%; }
    .container .c1 {
      width: 85%;
      display: block;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 2%; }
    .container .c2 {
      width: 85%;
      display: block;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 2%; }
    .container .c3 {
      width: 85%;
      display: block;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 2%; }
    .container .c4 {
      width: 85%;
      display: block;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 2%; }
    .container .c5 {
      width: 85%;
      display: block;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 2%; }
    .container .c6 {
      width: 85%;
      display: block;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 2%; }
    .container .c7 {
      width: 85%;
      display: block;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 2%; }
    .container .c8 {
      width: 85%;
      display: block;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 2%; }
    .container .c9 {
      width: 85%;
      display: block;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 2%; }
    .container .c10 {
      width: 85%;
      display: block;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 2%; }
    .container .c11 {
      width: 85%;
      display: block;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 2%; } }
  .container p {
    line-height: 130%; }
  .container li {
    line-height: 170%; }

#nav li {
  list-style: None;
  display: inline-block; }

#nav2 {
  display: none; }
  #nav2 a:link, #nav2 a:visited, #nav2 a:hover, #nav2 a:active, #nav2 hr, #nav2 li, #nav2 ul {
    display: none; }

@media screen and (max-width: 768px) {
  #nav {
    display: none; }
    #nav a:link, #nav a:visited, #nav a:hover, #nav a:active, #nav hr, #nav li, #nav ul {
      display: none; }
  #nav2 {
    display: none; }
    #nav2 a:link, #nav2 a:visited, #nav2 a:hover, #nav2 a:active, #nav2 hr, #nav2 li, #nav2 ul {
      display: block; }
    #nav2 li {
      list-style: none;
      margin-right: auto;
      margin-left: auto; } }

.navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 50px;
  background: -webkit-linear-gradient(#05305B, #3486D6);
  background: -moz-linear-gradient(#05305B, #3486D6);
  background: -o-linear-gradient(#05305B, #3486D6);
  background: linear-gradient(#05305B, #3486D6);
  background-repeat: repeat-x;
  background-color: #05305B;
  /*You browser stinks */
  color: #fff; }
  .navbar h4 {
    display: none; }
  .navbar ul {
    float: left;
    padding-top: 2px; }
  .navbar li {
    padding-left: 20px; }
  .navbar a:link, .navbar a:visited {
    color: #fff;
    font-size: 1.8rem;
    text-decoration: none; }
  .navbar a:hover, .navbar a:active {
    color: #fff;
    font-size: 1.8rem;
    text-decoration: underline; }
  .navbar a:link, .navbar a:visited, .navbar a:hover, .navbar a:active {
    font-weight: bold; }
  .navbar a:link, .navbar a:visited, .navbar a:hover, .navbar a:active {
    text-transform: uppercase;
    maring-left: 10px;
    padding-bottom: 14px;
    text-align: left; }

@media screen and (max-width: 768px) {
  #facebook, #linkedin, #twitter {
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: block; }
  .container {
    margin-top: 75px; }
  .navbar {
    height: 37px;
    position: fixed; }
    .navbar h4 {
      float: left;
      font-size: 1.5rem;
      margin-top: 5px;
      margin-left: 3px;
      display: block; }
    .navbar ul {
      display: block;
      padding-top: 0px; }
    .navbar li {
      background: #05305B;
      width: 100%;
      padding: 6px; }
    .navbar #nav2 {
      background: #05305B;
      padding: 9px;
      width: 100%;
      height: auto;
      display: none; } }
