body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14pt;
  background: #93ABFF;
  color: #000000; }

#mnu {
  display: none; }

img {
  border: 0px; }

#paper {
  width: 100%;
  position: absolute;
  top: 0px; }

.content {
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
  width: 75%; }

.clear {
  clear: both; }

.crow {
  display: table;
  padding-left: -15px;
  padding-right: -15px; }

.c2 {
  width: 50%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto; }

.c3 {
  width: 33%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto; }

.c4 {
  width: 25%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto; }

.c5 {
  width: 20%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto; }

.cmain {
  width: 66%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto; }

.cside {
  width: 30%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto; }

.cmain_pull {
  width: 66%;
  padding: 5px;
  float: left;
  margin-left: auto;
  margin-right: auto; }

.cside_pull {
  width: 30%;
  padding: 5px;
  float: right;
  margin-left: auto;
  margin-right: auto; }

.left {
  text-align: left; }

.center {
  text-align: center; }

.right {
  text-align: right; }

.justify {
  text-align: justify; }

#mnu {
  display: none; }
  #mnu div {
    display: none; }

@media screen and (max-width: 768px) {
  #mnu {
    float: right;
    width: 40px;
    height: 40px;
    display: block;
    cursor: pointer; }
    #mnu div {
      width: 20px;
      height: 4px;
      background: #fff;
      margin: 3px 0px;
      border-radius: 4px;
      display: block; }
  .content {
    width: 85%;
    margin-left: 15px;
    margin-right: 15px; }
  .c2, .c3, .c4, .cmain, .cside, .cmain_pull, .cside_pull {
    padding: 5px;
    width: 95%;
    display: block;
    float: none; } }

body {
  background: -webkit-linear-gradient(#5979E6, #93ABFF);
  background: -moz-linear-gradient(#5979E6, #93ABFF);
  background: -o-linear-gradient(#5979E6, #93ABFF);
  background: linear-gradient(#5979E6, #93ABFF);
  background-repeat: repeat-x;
  background-color: #93ABFF;
  /*You browser stinks */ }

.jumbo {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: #fff;
  background-color: #5979E6;
  background: -webkit-linear-gradient(#1339B9, #5979E6);
  background: -moz-linear-gradient(#1339B9, #5979E6);
  background: -o-linear-gradient(#1339B9, #5979E6);
  background: linear-gradient(#1339B9, #5979E6);
  background-repeat: repeat-x;
  background-color: #5979E6;
  /*You browser stinks */
  font-size: 2rem;
  border: 1px solid #fff; }
  .jumbo p {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200; }
  @media screen and (min-width: 768px) {
    .jumbo {
      padding-top: 48px;
      padding-bottom: 48px; } }

h1, h2, h3, h4, h5, h6 {
  font-family: Verdana, Geneva, sans-serif; }

.content {
  font-family: Verdana, Geneva, sans-serif;
  background: -webkit-linear-gradient(#fff, #ccc, #fff);
  background: -moz-linear-gradient(#fff, #ccc, #fff);
  background: -o-linear-gradient(#fff, #ccc, #fff);
  background: linear-gradient(#fff, #ccc, #fff);
  background-repeat: repeat-x;
  background-color: #fff;
  /*You browser stinks */ }
