@font-face {
  font-family: amfont;
  src: url("fonts/SertiBold.otf"); }

article, aside, details, figcaption, figure, footer, header,
hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

body {
  margin: 0px;
  position: absolute;
  top: 0px;
  padding: 0px;
  width: 100%;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14pt;
  background: #93ABFF;
  color: #000000; }

#mnu {
  display: none; }

img {
  border: 0px;
  width: 85%;
  height: auto;
  display: inline-block;
  padding: 0px; }

#paper {
  width: 100%;
  position: absolute;
  top: 0px; }

.content {
  margin-right: auto;
  margin-left: auto;
  padding: 7px;
  width: 75%; }

.clear {
  clear: both; }

.crow {
  display: table;
  padding-left: -15px;
  padding-right: -15px; }

.c2 {
  width: 50%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  background: inherit;
  color: inherit; }

.c3 {
  width: 33%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  background: inherit;
  color: inherit; }

.c4 {
  width: 25%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  background: inherit;
  color: inherit; }

.c5 {
  width: 20%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  background: inherit;
  color: inherit; }

.cmain {
  width: 66%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  background: inherit;
  color: inherit; }

.cside {
  width: 30%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  background: inherit;
  color: inherit; }

.c2_pull {
  width: 50%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  float: right;
  background: inherit;
  color: inherit; }

.cmain_pull {
  width: 66%;
  padding: 5px;
  float: right;
  margin-left: auto;
  margin-right: auto;
  background: inherit;
  color: inherit; }

.cside_pull {
  width: 30%;
  padding: 5px;
  float: right;
  margin-left: auto;
  margin-right: auto;
  background: inherit;
  color: inherit; }

.left {
  text-align: left; }

.center {
  text-align: center; }

.right {
  text-align: right; }

.justify {
  text-align: justify; }

.cblock {
  margin-left: auto;
  margin-right: auto;
  display: block; }

#mnu {
  display: none; }
  #mnu div {
    display: none; }

@media screen and (max-width: 768px) {
  #mnu {
    float: right;
    width: 40px;
    height: 40px;
    display: block;
    cursor: pointer; }
    #mnu div {
      width: 20px;
      height: 4px;
      background: #fff;
      margin: 3px 0px;
      border-radius: 4px;
      display: block; }
  .content {
    width: 85%;
    margin-left: 15px;
    margin-right: 15px; }
  .c2, .c3, .c4, .cmain, .cside, .cmain_pull, .c2_pull, .cside_pull {
    padding: 5px;
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none; } }

body {
  background: -webkit-linear-gradient(#5979E6, #1339B9);
  background: -moz-linear-gradient(#5979E6, #1339B9);
  background: -o-linear-gradient(#5979E6, #1339B9);
  background: linear-gradient(#5979E6, #1339B9);
  background-repeat: repeat-x;
  background-color: #1339B9;
  /*You browser stinks */ }

#facebook {
  width: 50px;
  height: 50px;
  background: url("images/facebook.png");
  background-size: 100% 100%;
  display: inline-block;
  padding: 10px;
  margin-left: 15px; }

#tweet {
  width: 50px;
  height: 50px;
  background: url("images/twitter.png");
  background-size: 100% 100%;
  display: inline-block;
  padding: 10px;
  margin-left: 15px; }

#logo {
  width: 75px;
  height: 75px;
  background: url("images/logo.png");
  background-size: 100% 100%;
  display: inline-block;
  margin-bottom: -30px;
  background-repeat: no-repeat; }

h1, h2, h3, h4, h5, h6 {
  font-family: Verdana, Geneva, sans-serif; }

.content {
  font-family: Verdana, Geneva, sans-serif;
  top: 85px;
  background: #FFFFFF;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 7px;
  position: relative; }

.footer {
  width: 100%;
  height: 50px;
  margin-left: auto;
  margin-right: auto; }

#nav {
  background: -webkit-radial-gradient(#333, #000);
  background: -moz-radial-gradient(#333, #000);
  background: -o-radial-gradient(#333, #000);
  background: radial-gradient(#333, #000);
  background-color: #000;
  /*You browser stinks */
  width: 100%;
  position: fixed;
  height: 75px;
  max-height: 180px;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  font-family: amfont;
  color: #fff;
  z-index: 1;
  text-align: center; }
  #nav li {
    position: relative;
    padding-left: 25px;
    top: -20px;
    display: inline-block;
    list-style: none; }
  #nav a, #nav a:link, #nav a:hover, #nav a:active {
    color: #fff;
    font-size: 18pt;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none; }
  #nav a:hover {
    color: #93ABFF; }

hr {
  border-top: 7px solid #1339B9; }

.jpad {
  padding: 25px; }

.jmain {
  padding: 25px;
  background: #000;
  color: #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  font-weight: bold;
  line-height: 35px hr;
    line-height-border-top: 7px solid;
  background: #1339B9;
  font-size: 14pt;
  text-overflow: none; }
  .jmain p {
    text-align: left;
    font-weight: bold;
    line-height: 35px; }

.jmain2 {
  padding: 25px;
  background: #000;
  color: #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  font-weight: bold;
  line-height: 35px hr;
    line-height-border-top: 7px solid;
  background: -webkit-linear-gradient(#333, #000);
  background: -moz-linear-gradient(#333, #000);
  background: -o-linear-gradient(#333, #000);
  background: linear-gradient(#333, #000);
  background-repeat: repeat-x;
  background-color: #000;
  /*You browser stinks */
  font-size: 14pt;
  text-overflow: none; }
  .jmain2 p {
    text-align: left;
    font-weight: bold;
    line-height: 35px; }

.jtext {
  font-size: 2rem; }

.midpic {
  width: 350px; }

#nav2 {
  display: none; }
  #nav2 a, #nav2 a:link, #nav2 a:hover, #nav2 a:active, #nav2 li, #nav2 hr {
    display: none; }

@media screen and (max-width: 768px) {
  #mnu {
    z-index: 2; }
  #nav {
    display: none; }
    #nav a, #nav a:link, #nav a:hover, #nav a:active, #nav li, #nav ul {
      display: none; }
  #nav2 {
    display: block;
    background: -webkit-radial-gradient(#333, #000);
    background: -moz-radial-gradient(#333, #000);
    background: -o-radial-gradient(#333, #000);
    background: radial-gradient(#333, #000);
    background-color: #000;
    /*You browser stinks */
    width: 100%;
    position: fixed;
    height: 50px;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    font-family: amfont;
    color: #fff;
    text-align: center;
    z-index: 1; }
    #nav2 p {
      text-transform: uppercase; }
    #nav2 select {
      width: 250px;
      background: #333;
      color: #fff;
      font-family: Verdana, Geneva, sans-serif;
      font-size: 24pt;
      font-weight: bold;
      text-align: center; } }
